* {
    box-sizing: border-box;
}

body {
    font-family: 'Gilroy', 'Roboto', sans-serif;
}

.wrapper {
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

main {
    background-color: #F9F9F9;
}

.top-info {
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.navigation {
    display: flex;
    gap: 30px;
}

.navigation-link {
    text-decoration: none;
    color: #4F4F4F;
    font-size: 18px;
    font-weight: 500;
}


.top-info-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-contacts {
    display: flex;
    align-items: center;
}

.top-info-element {
    width: 30px;
    height: 30px;
    padding: 3.216px 2.5px 2.445px 2.5px;
    margin-right: 20px;
}

.top-info-element:last-child {
    margin-right: 0px;
}

.top-info-content2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 49px;
}

.top-search {
    width: 345px;
    height: 54px;
    border-radius: 10px;
    border: 1px solid #BDBDBD;
    color: #828282;
    font-size: 18px;
    background: #F2F2F2;
    background-image: url('images/Search.png');
    background-repeat: no-repeat;
    background-position: top 15px right 20px;
    padding-left: 20px;
}

.tel {
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-left: 9px;
    margin-right: 60px;

}

.breadcrumb {
    display: flex;
    padding-top: 50px;
    color: #BDBDBD;
    font-size: 18px;
    font-weight: 500; 
    margin-bottom: 30px;
}

.text::after {
    content: url(./images/dot.png);
    padding-left: 15px;
    align-items: center;
}

.text {
    padding-right: 16px;  
}

.text:last-child::after {
    content: none;
}

.button-back {
    display: flex;
    align-items: middle;
    margin-bottom: 44px;
    gap: 4px;
}

.button-back-img {
    vertical-align: middle;
}

.link-back {
    color:#333;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}
    
.card {
    display: inline-flex;
    padding: 20px 20px 30px 20px;
    flex-direction: column;
    border-radius: 20px;
    width: 315px;
    border-radius: 20px;
    border: 1px solid  #F2F2F2;
    background-color: #F9F9F9;
    gap: 25px;
}

.all-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-left: 0;
} 

.card-img {
    border-radius: 5px;
}

.card-text {
    color:#828282;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
    margin-top: 0px;
    margin-bottom: 0px;
}

.card-title {
    color:#333;
    font-size: 24px;
    font-weight: 600;
    line-height: 130%; /* 31.2px */
    margin-top: 0px;
    margin-bottom: 0px;
}


.price-card {
    color: #333;
    font-size: 22px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

.weight-card {
    display: flex;
}

.weight-text {
    color: #4F4F4F;
    font-size: 18px;
    font-weight: 500;
    padding: 4px 12px;
    background-color: #F9F9F9;
    opacity: 1;
    border: 0;
}

.active-button {
    color:#4F4F4F;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #3ECF5E;
    background: #FFF;
}

.bottom-info-card {
    display: flex;
    justify-content: space-between;
}

.link-more-details {
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 32px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid rgba(5, 175, 52, 0.53);
    background: #3FCF5E;
}

.buy-button {
    padding: 9px;
    border-radius: 10px;
    border: 1px solid #BDBDBD;
    background: #FFF;
}

.buy-img {
    display: flex;
    padding: 2.812px 2.25px 2.138px 2.25px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.pages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-top: 50px;
    padding-bottom: 100px;
}

.pages-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-family: 'Roboto';
}

.number-link {
    text-decoration: none;
    color: #828282;
    font-size: 18px;
    font-weight: 500;
}

.bottom {
    background: #333;
    padding-top: 100px;
    padding-bottom: 130px;
}

.bottom-info {
    display: flex;
    justify-content: flex-start;
    gap: 47px;
    width: 440px; 
}

.bottom-info-link {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 440px;
}

.bottom-tel {
    display: flex;
    justify-content: flex-end;
    width: 440px;
    gap: 9px;
}

.footer-tel {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.bottom-box {
    display: flex;
}

.drop-down-link::after {
    background-image: url(images/down.png);
    width: 15px;
    height: 15px;
    background-color: red;
}

.active-page {
    color: #219653;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}